<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>
</head>
<body>
<footer class="footer" style="background-color: ghostwhite;">
    <br/>

    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">NBA Stats</h6>
            <p>Using cutting edge technology to display NBA Statistics in a visually pleasing way.</p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Authors:</h6>
            <p>Jeremy Timperio
                <!--Facebook-->
                <a class="fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-2"> </i></a>
                <!--Twitter-->
                <a class="tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-2"> </i></a>
                <!--GitHub-->
                <a class="git-ic" href="https://github.com/jmtimper" target="_blank"><i class="fa fa-github fa-lg white-text mr-md-2"> </i></a>
                <!--Linkedin-->
                <a class="li-ic" href="https://www.linkedin.com/in/jmtimper/" target="_blank"><i class="fa fa-linkedin fa-lg white-text mr-md-2"> </i></a>
                <!--Instagram-->
                <a class="ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-2"> </i></a>
            </p>
            <p>Grady Stewart
                <!--Facebook-->
                <a class="fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-2"> </i></a>
                <!--Twitter-->
                <a class="tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-2"> </i></a>
                <!--GitHub-->
                <a class="git-ic" href="https://github.com/gtstewar" target="_blank"><i class="fa fa-github fa-lg white-text mr-md-2"> </i></a>
                <!--Linkedin-->
                <a class="li-ic" href="https://www.linkedin.com/in/grady-stewart-a3018a128/" target="_blank"><i class="fa fa-linkedin fa-lg white-text mr-md-2"> </i></a>
                <!--Instagram-->
                <a class="ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-2"> </i></a>
            </p>
            <p>Tyler Schomburg
                <!--Facebook-->
                <a class="fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-2"> </i></a>
                <!--Twitter-->
                <a class="tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-2"> </i></a>
                <!--GitHub-->
                <a class="git-ic" href="https://github.com/tjschomb" target="_blank"><i class="fa fa-github fa-lg white-text mr-md-2"> </i></a>
                <!--Linkedin-->
                <a class="li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-2"> </i></a>
                <!--Instagram-->
                <a class="ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-2"> </i></a>
            </p>
        </div>
    </div>

    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            <p align="center">Link to <a href="https://github.com/gtstewar/NBA-Web-Squad" target="_blank">Project GitHub Repository</a></p>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>