<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Home page of NBA Data Visuals"/>
    <meta name="keywords" content="NBA, Basketball, Data, Stats, Analysis"/>
    <meta name="author" content="Grady Stewart, Jeremy Timperio"/>

    <title th:text="${generalStats.player_name}"></title>

    <link rel="shortcut icon" type="image/x-icon"
          href="resources/img/header/Icons-Land-Metro-Raster-Sport-Basketball-Court.ico"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Raleway:400,800}"/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link th:href="@{/resources/css/HomeCards.css}" rel="stylesheet"/>

</head>
<body>
    <div th:include="templates/header :: toolbar "></div>
    <div class="playerName" th:text="${generalStats.player_name}"></div>
    <div class="playerPts" th:text="${generalStats.pts}"></div>
    <div class="playerAst" th:text="${generalStats.ast}"></div>
    <div class="playerReb" th:text="${generalStats.reb}"></div>
    <div class="playerBlk" th:text="${generalStats.blk}"></div>

</body>
</html>