<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Home page of NBA Data Visuals"/>
    <meta name="keywords" content="NBA, Basketball, Data, Stats, Analysis"/>
    <meta name="author" content="Grady Stewart"/>

    <title>Home Page</title>

    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/><title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">NBA Data Visuals</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Players</a></li>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <li><a href="#">Teams</a></li>
        </ul>
    </div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>